<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.leafw.admin.mapper.RoleMapper">

    <sql id="baseSql">
        role_id, role_name, permission_ids, org_id, tenant_id, isdeleted, created, createby, updated,updateby
    </sql>

    <select id="selectByIdIn" resultType="cn.leafw.admin.model.entity.RoleDO">
        select
        <include refid="baseSql" />
        from leafw_role
        where role_id in
        <foreach collection="roleIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="selectByName" resultType="cn.leafw.admin.model.entity.RoleDO">
        select  <include refid="baseSql" />
        from leafw_role
        where role_name like CONCAT('%',#{roleName},'%')
    </select>

</mapper>
